<!DOCTYPE html>
<html>
  <head>
    <!-- ✅ favicon の指定 -->
    <%= favicon_link_tag 'favicon.png' %>

    <title><%= content_for(:title) || "Tsumugi" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">

    <!-- ✅ CSS / JS 読み込み -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
